certifi==2019.3.9
chardet==3.0.4
defusedxml==0.5.0
Django==2.1.7
ez-setup==0.9
gcloud==0.18.3
googleapis-common-protos==1.5.8
httplib2==0.12.1
idna==2.8
oauth2client==4.1.3
oauthlib==3.0.1
Pillow==5.4.1
protobuf==3.7.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
PyJWT==1.7.1
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2018.9
requests==2.21.0
requests-oauthlib==1.2.0
rsa==4.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.1.0
urllib3==1.26.5
altgraph==0.15
beautifulsoup4==4.7.1
dataclasses==0.6
soupsieve==1.9.1
sqlparse==0.2.4
template==0.4.2
toml==0.10.0
PyYAML==3.13
django-allauth==0.38.0
django-allauth-cas==1.0.0
django-bootstrap-form==3.4
django-ckeditor==5.4.0
django-emoticons==1.2
django-js-asset==1.1.0
django-widget-tweaks==1.4.3
djongo==1.2.30
future==0.16.0
image==1.5.24
Jinja2==2.10
jmespath==0.9.3
lxml==4.2.5
macholib==1.9
MarkupSafe==1.0
mongoengine==0.16.2
pefile==2017.11.5
Pinax==0.9a2
pinax-templates==2.0.2
pygame==1.9.3
PyInstaller==3.3.1
pymongo==3.7.2
pypiwin32==223
python-cas==1.4.0
pywin32==220