{% extends 'Base.html' %}
{% block title %}Nasza zespołowa aplikacja- SportCatch{% endblock %}
{% block content %}
<div class="ramkaDoAutorow">
    <div class="zdjecie">
     <img src="/static/images/Kacper.png" /></a>
    </div>
    <div class="informacje">
    <h1 style="color:#459b45; font-weight: bold;">Kacper Kozioł</h1>
    <h2>Zainteresowania: film, fotografia, sport, muzyka</h2>
    </div>
</div>
<p></p>


<div class="ramkaDoAutorow">
    <div class="informacje">
     <h1 style="color:#459b45; font-weight: bold;">Artur Wiśniewski</h1>
    <h2>Zainteresowania: sport, gry strategiczne, moda </h2>
    </div>
    <div class="zdjecie">
     <img src="/static/images/Artur.png" /></a>
    </div>
    </div>

<p></p>
<div class="ramkaDoAutorow">
     <div class="zdjecie">
     <img src="/static/images/Marek.png" /></a>
    </div>
    <div class="informacje">
     <h1 style="color:#459b45; font-weight: bold;">Marek Dziakowski</h1>
    <h2>Zainteresowania: gry komputerowe, sport </h2>
    </div>
    </div>
<p></p>
<div class="ramkaDoAutorow">

    <div class="informacje">
     <h1 style="color:#459b45; font-weight: bold;">Jacek Ciszkowski</h1>
    <h2>Zainteresowania: motoryzacja, języki obce, sport</h2>
    </div>
    <div class="zdjecie">
     <img src="/static/images/Jacek.png" /></a>
    </div>
    </div>
<p></p>
<div class="ramkaDoAutorow">
     <div class="zdjecie">
     <img src="/static/images/Patryk.png" /></a>
    </div>
    <div class="informacje">
     <h1 style="color:#459b45; font-weight: bold;">Patryk Sienkiewicz</h1>
    <h2>Zainteresowania: kuchnia, gry komputerowe</h2>
        </div>
    </div>
<p></p>
<div class="ramkaDoAutorow">

    <div class="informacje">
     <h1 style="color:#459b45; font-weight: bold;">Mateusz Rachubka</h1>
    <h2>Zainteresowania: piłka nożna, siatkówka, tenis </h2>
    </div>
     <div class="zdjecie">
     <img src="/static/images/Mateusz.png" /></a>
    </div>
</div>
{% endblock %}