{% extends 'Base.html' %}
{% load emoticons_tags %}
{% block content %}
{% emoticons %}
		<center>
		{% for message in messages %}
		
		
		{% if message.autor.user.username == request.user.username %}
		<div class="mymessage">
			{{message.tresc}}
				<div class="date-message">{{ message.data_utworzenia }}</div>
				</div>
		{% else %}
			<div class="message">
			{{ message.autor.user.username}}: {{message.tresc}}
				<div class="date-message"><notmy>{{ message.data_utworzenia }}</notmy></div>
				</div>
		{% endif %}
		
		
		{% endfor %}
	
	 <form method="post">
		{% csrf_token %}
		{{ form }}
		<br/>
    <input type="submit" value="Wyślij">
	</center>
	{% endemoticons %}
{% endblock %}