

{% extends 'Base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load widget_tweaks %}
<div class="wydarzeniaForm" style="width:500px;">
	<form method="post" enctype="multipart/form-data">{%csrf_token %}

	<div class="wydarzeniaForm" style="width:500px;">

		<form method = "post" enctype="multipart/form-data">
			{%csrf_token %}
			<h1>Dodaj Ogłoszenie</h1>
			{% render_field form.tytul class="txt" placeholder=form.tytul.name %}
			{% render_field form.opis class="txt" placeholder=form.opis.name %}
			 <button type="submit" class="btnForm">Dodaj ogłoszenie</button>
		</form>


	</div>


{% endblock %}

