{% extends 'Base.html' %}
{% block title %}Nasza zespołowa aplikacja- SportCatch{% endblock %}
{% block content %}

<center><h2>Miejsca</h2></center>
<div style="background-color:#383a3d;padding:10px; border-radius: 9px">
{% for miejsce in miejsca %}
    {% if request.user.username == 'admin'%}
    <a style="color:white;text-decoration:none;" href="{% url 'edit_miejsce' pk=miejsce.pk %}" class="glyphicon glyphicon-pencil"></a>
    <a style="color:white;text-decoration:none;" href="{% url 'Delete_place' pk=miejsce.pk %}" class="glyphicon glyphicon-remove"></a>
     {%if miejsce.zaakceptowane == False%}
        <a style="color:white;text-decoration:none;" href="{% url 'Accept' pk=miejsce.pk %}" class="glyphicon glyphicon-ok"></a>
        {%endif%}
    {%endif%}
    <div style="border: 2px solid #5ef308; border-radius: 9px; padding:5px;">
    <h1 style="margin:5px"><a style="color:#67C838;text-decoration:none;"
                              href="{% url 'miejsce_wydarzenia' pk=miejsce.pk %}#">{{miejsce.nazwa}}</a>
    </h1>
    <p>Miasto: {{miejsce.miasto}}</p>
    <p>Adres: {{miejsce.adres}}</p>
    <p>Ocena :{{miejsce.Srednia_ocen}}</p>
    
    


    </div>


    <hr/>
{%endfor%}
   </div>
    
{% endblock %}