
{% extends 'Base.html' %}
{% block content %}


        <slider>
            <slide><img src = "/static/images/slajdy/slajd1.jpg"/>
              <span>Masz nietypowe hobby?</span>
              <p>Podziel się tym z wszystkimi!</p>
              <a href="{%url 'register'%}">Zarejestruj się</a></slide></slide>
            <slide><img src = "/static/images/slajdy/slajd2.jpg"/>
              <span>Masz nietypowe hobby?</span>
              <p>Podziel się tym z wszystkimi!</p>
              <a href="{%url 'register'%}">Zarejestruj się</a></slide></slide>
            <slide><img src = "/static/images/slajdy/slajd3.jpg"/>

              <span>Masz nietypowe hobby?</span>
              <p>Podziel się tym z wszystkimi!</p>
              <a href="{%url 'register'%}">Zarejestruj się</a></slide></slide>

            <slide><img src = "/static/images/slajdy/slajd4.jpg"/>
              <p>Masz nietypowe hobby?
              Podziel się tym z wszystkimi!</p>
              <a href="{%url 'register'%}">Zarejestruj się</a></slide>
        </slider>


{% endblock %}
