{% extends "Base.html" %}

{% block content %}
<div class="infoView">
    <span><img  height="150" src="{{user.photo.url}}"/></span>
    <div class="informacja"></div>
    <div class="informacja"> Imie: {{user.user.first_name}} </div>
    <div class="informacja"> Nazwisko: {{user.user.last_name}} </div>
    <div class="informacja"> Nick: {{user.user.username}} </div>
    <div class="informacja"> Email: {{user.user.email}} </div>
    <div class="informacja">Data urodzenia:
        {% if user.date_of_birth %}
         {{user.date_of_birth}} </div>
        {% else %}
        brak danych
        {% endif %}
    <div class="informacja">Liczba przyjaciół:
        {% if user.friends.all %}
        {{user.friends.all|length}}
        {% else %}
        0
        {% endif %}
    </div>
        {% if user.rate <= 0 %}
            <img src="/static/images/Bronze1.png" width="30%" height="30%"/>
        {% endif %}
        {% if user.rate > 10 and user.rate <= 20 %}
            <img src="/static/images/Bronze2.png" width="30%" height="30%" />
        {% endif %}
        {% if user.rate > 20 and user.rate <= 35 %}
            <img src="/static/images/Bronze3.png" width="30%" height="30%" />
        {% endif %}
        {% if user.rate > 35 and user.rate <= 50 %}
            <img src="/static/images/Bronze4.png"  width="30%" height="30%"/>
        {% endif %}
        {% if user.rate > 50 and user.rate <= 70 %}
            <img src="/static/images/Bronze5.png" width="30%" height="30%"/>
        {% endif %}
        {% if user.rate > 70 and user.rate <= 90 %}
            <img src="/static/images/Silver1.png"  width="30%" height="30%"/>
        {% endif %}
        {% if user.rate > 90 and user.rate <= 110 %}
            <img src="/static/images/Silver2.png"  width="30%" height="30%"/>
        {% endif %}
        {% if user.rate > 110 and user.rate <= 135 %}
            <img src="/static/images/Silver3.png"  width="30%" height="30%"/>
        {% endif %}
        {% if user.rate > 135 and user.rate <= 160 %}
            <img src="/static/images/Silver4.png"  width="30%" height="30%"/>
        {% endif %}
        {% if user.rate > 160 and user.rate <= 190 %}
            <img src="/static/images/Silver5.png" width="30%" height="30%" />
        {% endif %}
        {% if user.rate > 190 and user.rate <= 220 %}
            <img src="/static/images/Gold1.png"  width="30%" height="30%"/>
        {% endif %}
        {% if user.rate > 220 and user.rate <= 250 %}
            <img src="/static/images/Gold2.png"  width="30%" height="30%"/>
        {% endif %}
        {% if user.rate > 250 and user.rate <= 290 %}
            <img src="/static/images/Gold3.png"  width="30%" height="30%"/>
        {% endif %}
        {% if user.rate > 290 and user.rate <= 330 %}
            <img src="/static/images/Gold4.png" width="30%" height="30%" />
        {% endif %}
        {% if user.rate > 330 %}
            <img src="/static/images/Gold5.png"  width="30%" height="30%"/>
        {% endif %}


    </div>

    <a href = "edit"><button class="infoBtn">Edytuj konto</button></a>
</div>
</div>
{% endblock content %}