{% extends 'Base.html' %}
{% load widget_tweaks %}
{% block content %}



<div class="registerForm">

    <form  method = "POST" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Zaloguj się</h1>
        {% render_field form.username class="txt" placeholder="Nick" %}

        {% render_field form.password class="txt" placeholder="Hasło" %}

        <button type="submit" class="btnForm" >Zaloguj</button><a href="{% url 'social:begin' 'facebook' %}" />  	<img src="/static/images/facebookZmiana.png"  class="facebook" no-repeat="none"></a>

        <input type="hidden" name="next" value="{{ request.GET.next }}">
				<div class = "text">Nie posiadasz konta?</div><a href="/account/register" class="link"> Załóż je teraz!</a>
	<div class ="text"><a href="{% url 'password_reset_form' %}" class="link">Zapomniałem hasła</a></div><br>
	<input type="hidden" name="next" value="{{ request.GET.next }}">
    </form>
</div>


{% endblock %}
