{% extends "Base.html" %}

{% block content %}
<div class="Friends">
   <span class="Friends_text"><center> Lista twoich znajomych</center></span>
    <div class="Friends_list">
    {% if user.friends.all %}
    {% for u in user.friends.all %}
    <div class="Friend_name">
        <p>Imię: <a href="{% url 'other_account_info' pk=u.user.pk %}">{{u.user.first_name}}</a></p>
        Akcje:
        <a  href="{% url 'delete_friend' pk=u.user.pk %}"><span class="Friend_delete"> Usuń</span></a>
        <a href = "{% url 'email' nick=u %}"><span class="Friend_send_email">Wyślij e-maila</span></a>
    </div>
                <hr style="width:90%;"/>

        {% endfor %}
    {% else %}
    <p>brak znajomych</p>
    {% endif %}
    </div>
</div>

{% endblock content %}