{% extends 'Base.html' %}
{% block title %}Nasza zespołowa aplikacja- SportCatch{% endblock %}
{% block content %}
<div class="regulamin">
<b>§1 Postanowienia ogólne </b><p></p>

<p>1. Niniejszy regulamin forum dyskusyjnego (zwany dalej także "Regulaminem") określa zasady korzystania z usługi świadczonej drogą elektroniczną umożliwiającej dodawanie komentarzy pod tekstami umieszczonymi w portalu parlamentarny.pl (zwanego dalej także "Forum"). </p>
<p>2. Usługa, o której mowa w Regulaminie, jest świadczona przez PTWP-ONLINE Sp. z o.o. z siedzibą przy Placu Sławika i Antalla 1, 40-163 Katowice, zwaną dalej "PTWP". </p>
<p>3. Usługa polega na umożliwieniu publikowania (rozpowszechniania) za pośrednictwem Forum pomysłów, opinii, komentarzy, pytań, informacji i innych danych, zgodnie z zasadami określonymi w Regulaminie. </p>
<p>4. Z Forum mogą korzystać pełnoletni użytkownicy Internetu. Osoby niepełnoletnie mogą korzystać z Forum wyłącznie za wiedzą i zgodą ich przedstawicieli ustawowych. </p>
<p>5. Użytkownicy korzystający z Forum, dokonując wpisów, akceptują warunki określone w Regulaminie i zobowiązują się do przestrzegania obowiązków wynikających z Regulaminu. </p>
<p>6. PTWP zachowuje prawo do uniemożliwienia Użytkownikowi dalszego korzystania z Forum w dowolnym momencie, w szczególności ze względów technicznych lub na skutek naruszenia przez Użytkownika postanowień Regulaminu. </p>
<p>7. PTWP nie ma obowiązku rozpowszechniać za pośrednictwem Forum wypowiedzi, treści i danych dostarczanych przez Użytkownika. PTWP zachowuje prawo do zaprzestania rozpowszechniania wszystkich lub tylko wybranych wypowiedzi, treści i danych upublicznionych przez Użytkownika za pośrednictwem Forum i uniemożliwienia dostępu do tych wypowiedzi, treści i danych użytkownikom Internetu. </p>
<p>8. PTWP zastrzega sobie prawo moderowania Forum oraz redagowania treści komentarzy i wpisów. </p>
<p>9. Użytkownik korzystający z Forum nie może mieć z tego tytułu jakichkolwiek roszczeń finansowych wobec kogokolwiek. </p>
<p>10. Użytkownik jest uprawniony do zaprzestania korzystania z Forum w każdym czasie, co jednak nie pozbawia PTWP prawa do korzystania z wypowiedzi, treści i danych uprzednio dostarczonych i rozpowszechnionych przez Użytkownika za pośrednictwem Forum. </p>
<br/>
<b>§2 Zasady korzystania z Forum </b><p></p>

<p>1. Użytkownicy zobowiązani są do korzystania z Forum zgodnie z postanowieniami Regulaminu i obowiązującymi przepisami prawa. </p>
<p>2. Użytkownicy zobowiązani są do powstrzymania się od rozpowszechniania za pośrednictwem Forum wszelkich treści o charakterze bezprawnym. </p>
<p>3. Zabronione jest dokonywanie za pośrednictwem Forum jakichkolwiek działań naruszających powszechnie obowiązujące przepisy prawa. W szczególności niedozwolone jest wykorzystywanie Forum do: </p>
<div class='podpunkty'>
<p>     a) rozpowszechniania treści naruszających dobra osobiste osób trzecich (w tym innych użytkowników Forum) lub zagrażających naruszeniem takich dóbr osobistych; </p>
<p>     b) podejmowania działań spełniających znamiona przestępstwa lub zachęcających do popełniania przestępstw (w tym zniesławienia lub pomówienia);</p> 
<p>     c) wzywania do nienawiści rasowej, wyznaniowej lub etnicznej; </p>
<p>     d) propagowania przemocy i agresji; </p>
<p>     e) propagowania alkoholu, środków odurzających, narkotyków oraz pornografii; </p>
<p>     f) rozpowszechniania treści reklamowych i promocyjnych; </p>
<p>     g) rozpowszechniania materiałów naruszających (bądź zagrażających) prawom autorskim i pokrewnym osób trzecich; </p>
<p>     h) rozpowszechniania materiałów naruszających lub zagrażających prawom własności przemysłowej (w tym prawom z rejestracji znaku towarowego lub patentu) lub innym prawom osób trzecich; </p>
<p>     i) naruszania praw wydawcy portalu; </p>
<p>     j) umieszczania linków do prywatnych stron www; </p>
<p>     k) umieszczania treści przesyłanych na zasadzie łańcuszka; </p>
<p>     l) rozpowszechniania danych teleadresowych; </p>
<p>     m) rozpowszechniania danych informatycznych zawierających wirusy komputerowe lub inne informatyczne rozwiązania niszczące; </p>
<p>     n) rozpowszechniania treści naruszających zasady współżycia społecznego; </p>
<p>     o) rozpowszechniania wulgaryzmów, treści obraźliwych, obscenicznych lub naruszających powszechnie uznawane zasady etyczne i zasady kultury osobistej. </p>
</div>
<p>4. Forum przeznaczone jest do rozpowszechniania treści w języku polskim. PTWP apeluje o używanie polskich liter przy tworzeniu komentarzy i wpisów, a także stosowanie wielkich liter tylko w uzasadnionych przypadkach. </p>
<p>5. Użytkownicy zobligowani są do publikowania na Forum wyłącznie treści zgodnych z tematyką tekstu. Zakazuje się publikowania w poszczególnych wątkach dyskusyjnych treści niezwiązanych z tematem wiodącym dyskusji. </p>
<p>6. Publikowanie na Forum informacji handlowych w rozumieniu ustawy o świadczeniu usług drogą elektroniczną (w tym reklam, materiałów promocyjnych, komunikatów PR, itp.) oraz innych treści o charakterze komercyjnym, bez uprzedniej pisemnej (pod rygorem nieważności) zgody PTWP jest zabronione. </p>
<p>7. Te same treści (wypowiedzi) nie mogą być publikowane więcej niż raz i nie mogą być powtarzane w różnych miejscach Forum. PTWP zachowuje prawo usuwania duplikatów i powtórzeń w dowolnym momencie.</p> 
<p>8. Niedopuszczalne jest publikowanie za pośrednictwem Forum pytań lub problemów wraz z żądaniem przesłania odpowiedzi na indywidualny adres poczty elektronicznej lub za pomocą innego kanału porozumiewania się na odległość. Forum przeznaczone jest do otwartej wymiany informacji, dostępnej publicznie dla wszystkich Użytkowników i Czytelników. </p>
<br/>
<b>§3 Prawa autorskie</b> <p></p>

<p>1. Użytkownicy zobligowani są do rozpowszechniania za pośrednictwem Forum wyłącznie treści (wypowiedzi) własnego autorstwa. W przypadku posłużenia się utworami lub wypowiedziami innych osób, Użytkownicy zobligowani są do jednoznacznego wskazania cytatu zgodnie z obowiązującymi przepisami prawa. Ilekroć mowa jest o "Utworze", rozumie się przez to każdą wypowiedź Użytkownika jego autorstwa zamieszczoną przez niego na Forum, którą można uznać za utwór w rozumieniu ustawy z dnia 4 lutego 1994 roku o prawie autorskim i prawach pokrewnych. </p>
<p>2. W zamian za świadczenie usługi umożliwienia korzystania z Forum Użytkownik upoważnia PTWP do korzystania z Utworu bez ograniczeń czasowych, terytorialnych i ilościowych, na wszelkich znanych polach eksploatacji. </p>
<br/>
<b>§4 Postanowienia końcowe </b><p></p>

<p>1. PTWP nie odpowiada za treść wypowiedzi publikowanych na Forum. </p>
<p>2. Każdy z Użytkowników ponosi wyłączną i osobistą odpowiedzialność wobec PTWP i osób trzecich za zamieszczenie na Forum wypowiedzi naruszającej przepisy prawa lub zasady wynikające z niniejszego Regulaminu. </p>
<p>3. Zgodnie z art. 15 ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną PTWP nie jest zobowiązana do sprawdzania danych przekazywanych, przechowywanych lub udostępnianych za pośrednictwem Forum. PTWP zachowuje jednak prawo do kontrolowania treści i danych dostarczanych przez Użytkowników w celu rozpowszechniania za pośrednictwem Forum, ich redagowania i moderacji, a także odmowy ich rozpowszechnia lub zaprzestania dalszego rozpowszechniania. </p>
<p>4. PTWP zastrzega sobie prawo do ujawnienia posiadanych danych dotyczących Użytkownika na żądanie uprawnionego organu, jeżeli w stosunku do Użytkownika zostanie wszczęte postępowanie karne lub cywilne mające związek z aktywnością Użytkownika na Forum. Korzystanie z Forum jest równoznaczne z zaakceptowaniem przez Użytkownika treści niniejszego punktu. </p>
<p>5. PTWP dołoży wszelkich starań w celu zapewnienia prawidłowego działania Forum oraz udzielania pomocy Użytkownikom w rozwiązywaniu problemów dotyczących jego funkcjonowania. </p>
<p>6. Wszelkie problemy związane z funkcjonowaniem Forum oraz przypadki naruszenia Regulaminu należy zgłaszać na adres: parlament@ptwp.pl. </p>
<p>7. PTWP może czasowo zawiesić działalność Forum bez podania przyczyny. Powyższe nie będzie powodowało powstania jakichkolwiek roszczeń Użytkowników wobec PTWP. </p>
<p>8. Korzystanie z Forum jest równoznaczne z akceptacją przez danego Użytkownika treści niniejszego Regulaminu wraz ze zobowiązaniem się tego Użytkownika do przestrzegania Regulaminu w całości. </p>
<p>9. PTWP zastrzega sobie prawo do wprowadzenia zmian w treści niniejszego Regulaminu. Wszelkie zmiany wchodzą w życie w momencie ich opublikowania.</p>
</div>

{% endblock %}