body
{

	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0 !important;
}
slider{
	display: block;
	width: 100%;
	height: 50%;
	overflow:hidden;
	position:absolute;
	left:0%;

}
slider > *{
	position: absolute;
	display: block;
	width:100%;
	height: 100%;
	animation: slide 24s infinite;
	overflow: hidden;
}
slider span{
	position:absolute;
	top:20%;
	width: 100%;
	bottom:80%;
	text-align: center;
	background: black;
	font-size:32px;
		font-family: sans-serif;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
slider p {

	position:absolute;
	top:30%;
	bottom:70%;
	width: 100%;
	text-align: center;
	font-size:32px;
	font-family: sans-serif;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
slider a{
	position:absolute;
	width: 100%;
	text-align: center;
	top:45%;

	font-size:30px;
	text-decoration: none;
	color:white;
	font-family: sans-serif;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
slider a:hover{
	text-decoration: none;
	color:#459b45;
}
slider a::after{
	text-decoration: none;
}
slide:nth-child(1){
	left:0%;
	animation-delay: -1s;
	background-size: cover;
	background-position: center;
}
slide:nth-child(2){
	left:0%;
	animation-delay: 5s;
	background-size: cover;
	background-position: center;
}
slide:nth-child(3){
	left:0%;
	animation-delay: 11s;
	background-size: cover;
	background-position: center;
}
slide:nth-child(4){
	left:0%;
	animation-delay: 17s;
	background-size: cover;
	background-position: center;
}
slider img {

	display:inline-block;
	width:100%;
	height:100%;
}
@keyframes slide{
	0% {left:100%;width:100%;}
	5% {left:0%;}
	25% {left:0%;}
	30%{left:-100%;width:100%;}
	30.0001% {left:-100%; width:0%;}
	100% {left: 100%; width: 0%;}
}
.Friends{
    position:absolute;
		left:30%;
		height:450px;
		width:650px;
		overflow: scroll;
		scroll-behavior: smooth;
}
::-webkit-scrollbar{
		width:0px;
		background: transparent;
}
.Friends  a{
	text-decoration: none;
	color:white;
}
.Friends_list{
		border:1px solid Lightgray;
		border-radius: 10px;
		background-color:#383a3d;
	 	position:absolute;

	 	top:20%;

}
.Friend_name{
	font-size:32px;
	margin-left:15px;
	width:600px;

}
.Friend_delete{
	color:red;
	transition: 0.5s;
}
.Friend_delete:hover{
	font-size:36px;
}
.Friend_send_email{
	color:darkblue;
	transition: 0.5s;
}
.Friend_send_email:hover{
	font-size: 36px;
}
.Friends_text{
    font-size:48px;
		font-family: 'Permanent Marker',cursive;

}
.infoBtn{
     width:25%;
  padding: 0 16px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border:none;
  font-family: "montserrat",sans-serif;
  transition: 0.8s;
  margin-bottom: 30px;
  background: #459b45;
  color:#FFF;
  border-radius: 11px;
  cursor:pointer;
  transition: 0.8s;
}

.infoBtn:hover{
  transform: scale(1.14);
}

.infoView{
    position:relative;
    left:30%;
    margin-top:50px;
    border: 2px solid Lightgray;
    border-radius:10px;
    width:700px;
    padding:25px;
    background: rgba(255,255,255,.15);
}

.infoView h1{
  margin-top:10px;
  font-family: 'Permanent Marker',cursive;
  color:#FFF;
  margin-bottom:10%;
  font-size: 40px;
  text-align:center;
}

.informacja{
   font-size: 22px;
   padding-bottom:15px;
}
.registerForm{
  padding:20px;

  text-align: center;
  width:300px;
  position:relative;
  left:40%;
  overflow: hidden;
  background-color:#303030;
  transition: 0.8s;
}

.registerForm h1{
  margin-top:10px;
  font-family: 'Permanent Marker',cursive;
  color:#FFF;
  font-size: 40px;
}

.registerForm input{

  display:block;
  width:100%;
  padding: 0 16px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border:none;
  font-family: "montserrat",sans-serif;
  transition: 0.8s;

}

.registerForm input:hover{
  transform: scale(1.14);
}

.szukajBtn{
  width:10%;
  padding: 0 16px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border:none;
  font-family: "montserrat",sans-serif;
  transition: 0.8s;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  background: #459b45;
  color:#FFF;
  border-radius: 11px;
  cursor:pointer;
  transition: 0.8s;
}
.szukajBtn:hover{
    transform: scale(1.14);
}
.wyszukiwanie{
    width:50%;
    padding: 0 16px;
    height:44px;
    text-align:left;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "montserrat",sans-serif;
    background: rgba(255,255,255,.5);
    border-radius: 6px;
}
.SelectSearch{
    height:44px;
    border-radius: 6px;
    background: rgba(255,255,255,.5);
}
.wydarzeniaForm{
	margin-left: 30%;
    padding:20px;
    overflow: hidden;
    transition: 0.8s;
}

.wydarzeniaForm input{

display:block;
  width:100%;
  padding: 0 16px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border:none;
  font-family: "montserrat",sans-serif;
  transition: 0.8s;

}
.wydarzenieForm input:hover{
    transform: scale(1.14);
}
.wydarzenieForm h1{
    color:#FFF;
    font-size:40px;
}
.signup-form{
    width:300px;
  padding:20px;
  text-align: center;
  position:absolute;
  overflow: hidden;
  background-color:#303030;
  transition: 0.8s;
  left:40%;
}
.signup-form h1{
  color:#FFF;
  font-size: 40px;
}
.signup-form input{
  display:block;
  width:100%;
  padding: 0 16px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border:none;
  font-family: "montserrat",sans-serif;
  transition: 0.8s;
}

.txt{
  margin: 20px 0;
  background: rgba(255,255,255,.5);
  border-radius: 6px;
}
.btnForm{
display:block;
  width:100%;
  padding: 0 16px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border:none;
  font-family: "montserrat",sans-serif;
  transition: 0.8s;
  margin-top: 40px;
  margin-bottom: 10px;
  background: #459b45;
  color:#FFF;
  border-radius: 44px;
  cursor:pointer;
  transition: 0.8s;
}

.btnForm:hover{
  transform: scale(0.96);
}

.btnForm2{
	display:block;
		width:100%;
		padding: 0 16px;
		height: 44px;
		text-align: center;
		box-sizing: border-box;
		outline: none;
		border:none;
		font-family: "montserrat",sans-serif;
		transition: 0.8s;
		margin-top: 40px;
		margin-bottom: 10px;
		background: #459b45;
		color:#FFF;
		border-radius: 44px;
		cursor:pointer;
		transition: 0.8s;
	}

	.btnForm2:hover{
		transform: scale(0.96);
	}

.logowanieRejestracja{
  position: relative;
  margin-top: 20px;
  margin-right: 30px;
}

.header
{
	margin-top:20px;
	display:flex;
	text-align: justify;
	justify-content: space-between;
	vertical-align: bottom;
}

.header2
{
	text-align: center;
}
.ZalogowanyUzytkownik{

	margin: 10px;
}
.ZalogowanyUzytkownik img
{
	height:70px;
	width: auto;
}
.niezalogowanyUzytkownik{
	margin-top:30px;
}
.header2 img
{
	border-radius: 50px;
}
.content
{


	text-align: justify;
	min-height: 450px;
}

.footer
{

	text-align: center;
	background-color: #222222;
	padding: 30px;
	margin-top: 20px;
}

.WitajSpan{
vertical-align: bottom;
transform: translate(70px,-30px);
}

.login
{
  position:relative;
  height:100px;
	width: 400px;
	top:0%;
	left:70%;

	margin-bottom: 5px;

}

.login img{
    position:absolute;
    right:0%;
    top:0%;
}

.login p{
    margin-top:60px;
    position:absolute;
    right:40%;
}








.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

.login > a
{
	color: #ffffff;
	text-decoration: none;
}

.login > a:hover
{
	color: #67c838;
}
.chat
{

	width: 100%;
   margin-left:30%;
	 margin-bottom:10px;
	 width:250px;
   background-color: #222222;
   height: 40px;
   padding-left: 10px;
   padding-top: 5px;
   text-align:center-left;

}

.chat > a
{
	color: #ffffff;
	text-decoration: none;
}

.message
{
   width: 50%;
   margin: 10px 10px 10px 0px;
   background-color: #348a34;
   height: 50px;
   padding-left: 10px;
   padding-top: 5px;
   text-align:left;
   border-radius: 18px;
}

.mymessage {
   width: 50%;
   margin: 10px 10px 10px 0px;
   background-color: #222222;
   height: 50px;
   padding-right: 10px;
   padding-top: 5px;
   text-align: right;
   border-radius: 18px;
}

.date-message
{
	font-size: 11px;
	color: #636363;
}

.date-message > notmy {
	color: #ededed;
}

.friends
{

   padding: 10px 10px 10px 10px;
   background-color: #222222;
   width: 100%;


}
.content > a {
	color: #ffffff;
	text-decoration: none;
}

.content > .wydarzenia > h3 > a{
	color: #ffffff;
	text-decoration: none;
}

.nav
{

	overflow: hidden;
	width: 100%;
	padding: 10px 0;
	background-color: #459b45;
	text-align: center;
	border-top: 1px solid #46981F;
	border-bottom: 1px solid #46981F;


}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 30px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 170px;
	height: 40px;
	border-right: 1px dashed #296D09;
	transition: 0.3s;
}

ol > li:first-child
{
	border-left: 1px dashed #296D09;
}

ol > li:hover
{
	background-color: #296D09;
	transition: 0.3s;
}
ol > li:hover > span{
    font-size:20px;
    transition: 0.3s;
}
ol > li:hover > a
{
	color: #ffffff;
	font-size:20px;
	transition: 0.3s;
}

ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

ol > li:hover > ul
{
	position:absolute;
	width:170px;
	display: block;

}

ol > li > ul > li
{
	background-color:#77AE5D;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #296D09;
}

ol > li > ul > li:hover
{
	background-color: #4C723A;
	transition: 0.3s;
}

ol > li > ul > li:hover > a
{
	color: #ffffff;
}





.miejsca{
    font-size:72px;
}
.miejsca a{
    color:black;
    decoration:none;
}



input, select, textarea{
    color: black;
}



.error{
	color: #ed3434;
}

.Logowanie{
    position: relative;
    top: 30;
    left: 20%;
    bottom: 0;
}

.link{
    color: #459b45;
}

.link:hover{
    font-weight: bold;
    color: #459b45;
    text-decoration: none;
}

.rating > a:hover:before {
	content: "\2605";
	position: absolute;
 }



  .rating > a:hover:before,
  .rating > a:hover ~ a:before {
	 content: "\2605";
	 position: absolute;
  }
  .rating  {
	unicode-bidi: embed;
	direction: rtl;
	float: left;

  }

  .rating > a {
	display: inline-block;
	unicode-bidi: bidi-override;
	direction: rtl;
	position: relative;
	width: 1.1em;
  }

  .rating > a:hover:before,
.rating > a:hover ~ span:before {
   content: "\2605";
   position: absolute;
}











.wydarzenia
{

	text-align: center;

}



.rating1 > a:hover:before {
	content: "\2605";
	position: absolute;
 }



  .rating1 > a:hover:before,
  .rating1 > a:hover ~ a:before {
	 content: "\2605";
	 position: absolute;
  }
  .rating1  {
	unicode-bidi: embed;
	direction: rtl;
	float: right;

  }

  .rating1 > a {
	display: inline-block;
	unicode-bidi: bidi-override;
	direction: rtl;
	position: relative;
	width: 1.1em;
  }

  .rating1 > a:hover:before,
.rating1 > a:hover ~ span:before {
   content: "\2605";
   position: absolute;
}






.Elementy_wydarzen
{
 background-color:#383a3d;
 height: 70%px;
 width: 70%px;
 display: flex;
 justify-content:center;
 flex-direction:column;
 border-radius: 9px;

}

.Obramowanie2
{
	margin:auto;
	margin-top:20px;
	margin-bottom: 20px;
	background-color: rgba(67, 67, 68, 0.74);
	height: 150px;
	 width: 800px;
	 border-radius: 9px;
	 border: #5ef308;
	 border-style: solid;
	  border-width: 2px;
	  font-size: 12px;
}

.Obramowanie
{
	margin:auto;
	margin-top:20px;
	margin-bottom: 20px;
	background-color: rgba(67, 67, 68, 0.74);
	height: 150px;
	 width: 800px;
	 border-radius: 9px;
	 border: #5ef308;
	 border-style: solid;
	  border-width: 2px;
	  font-size: 12px;
}




.Obramowanie3
{
	margin:auto;
	margin-top:20px;
	margin-bottom: 20px;
	background-color: rgba(121, 121, 121, 0.74);
	text-align: left;
	 width: 800px;
	 height: 500px;
	 border-radius: 9px;
	 border-radius: 9px;
	 border: #5ef308;
	 border-style: solid;
	  border-width: 2px;
	  border-width: 2px;
	  font-size: 20px;
}


.Text a
{
	color:#67C838;
}

.Text
{
	float: left;
	margin-left: 50px;
	text-align: left;
}

.Text2
{

}

.Text4
{

 text-align: left;
}

.Text3
{
	float: left;
	margin-left: 50px;
	margin-top: 25px;
}

.Text h1
{
  font-size: 50;
}


.options
{
	margin: 5px;
	float: right;
	color: #222222;
}

.options1
{
	margin: 5px;
	margin-top: 100px;
	float: inline-end;
	color: #222222;
}

.wydarzenia
{
	border-radius: 9px;
	border: #515c4a;
	border-style: solid;
	 border-width: 2px;

}




.miejsce
{
	height: 150px;
	width: 800px;
	border-style: solid;
	border-radius: 9px;
	border: #5ef308;
	border-width: 2px;


}

.Star
{
	font-size:30px;
	height: 50px;
	width: 16000px;
}
.Star1
{
	font-size:20px;


}
.Szara
{
	text-align: center;
	margin: auto;
	padding: 10px;
	background-color: #636363;
	height: 70px;
	width:  790px;
	border-radius: 9px;
}


.komentarze
{

	background-color: #636363;
	overflow-wrap: break-word;
  	word-wrap: break-word;
  	hyphens: auto;
	width:  790px;
	height: auto;
	border-style: solid;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

.mar
{
	overflow-y:scroll;
	height: 200px;
	border-radius: 9px;
	border: #515c4a;
	border-style: solid;
	 border-width: 2px;
}


.mar1
{

	overflow-y:scroll;
	height: 150px;
	width: 350px;
	border-radius: 9px;
	border: #515c4a;
	border-style: solid;
	margin:10px;
	margin-left:335px;
	 border-width: 2px;
}


.komentarze > .tresc
{
	text-align:center;

}

.tresc
{

	margin-top: 10%;

}

.Opiss
{
margin-top: 50px;
margin-left: 333px;
}


.stopka
{
	float: none;
	margin-top: 10px;
	margin-left:10px;
}

.ramka
{
	height:60%;
	margin-left:50px;
	width:700px;
	background-color:rgb(148, 144, 144);
	border-radius: 9px;
}

.ramkaDoAutorow{
  border: 4px solid;
  border-radius: 25px;

  background-color: rgba(67, 67, 68, 0.74);

}

.informacje{
    margin-left:20px;
    display: inline-block;
}

.zdjecie{
    margin-top:10px;
    margin-left:10px;
    display: inline-block;
    margin-bottom:10px;
    margin-right:10px;
}

.ranga{
    width:50%;
    height:50%;
}

.regulamin{
  background:white;
  color: black;
  padding: 15px 15px 15px 15px;
}

.regulamin b{
  font-size: 30px;
}

.regulamin p{
  padding: 0px 15px 15px 15px;
}

.podpunkty{
  padding: 0px 30px 0px 40px
}

.szukajka{
	margin-top:30px;
	display: inline-block;
}
